@model AboutMeVM

    <!-- Page about -->
    <div class="vg-page page-about" id="about">
        <!-- Profile -->
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-place wow zoomIn">
                        <img src="~/img/profile1.jpg" alt="Photo Profile">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="caption wow fadeInRight">
                        <h2 class="fg-dark">@Model.MyInfo.Name</h2>
                        <p class="fg-theme fw-medium">@Model.MyInfo.Specialty</p>
                        <p>@Model.MyInfo.Description</p>
                        <ul class="theme-list">
                            <li class="fg-dark"><b>From:</b> @Model.MyInfo.From</li>
                            <li class="fg-dark"><b>Lives In:</b> @Model.MyInfo.LivesIn</li>
                            <li class="fg-dark"><b>Age:</b> @Model.MyInfo.Age</li>
                        </ul>
                        <a href="~/SaberiCV_ENG.pdf" class="btn btn-theme btn-rounded">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End profile -->
        <!-- Skills -->
        <div class="container mt-5">
            <h1 class="text-center fg-dark wow fadeInUp">My Skills</h1>
            <div class="row py-3">
                <div class="col-md-6">
                    @foreach (var item in Model.Skills)
                    {
                        <div class="progress-wrapper wow fadeInUp">
                            <span class="caption">@item.SkillName</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @item.Percentage%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">@item.Percentage%</div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div> <!-- End skills -->
        <!-- Resume -->
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 wow fadeInRight">
                    <h2 class="fg-dark">Education</h2>
                    <ul class="timeline mt-4 pr-md-5">
                        @foreach (var item in Model.Educations)
                        {
                            <li>
                                <div class="title">@item.Year</div>
                                <div class="details">
                                    <h5>@item.FieldOfStudy</h5>
                                    <small class="fg-theme">@item.Institute</small>
                                    @if (item.Description != null)
                                    {
                                        <p>@item.Description</p>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>

                <!-- Experience -->
                <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
                    <h2 class="fg-dark">Experience</h2>
                    <ul class="timeline mt-4 pr-md-5">
                        @foreach (var item in Model.Experiences)
                        {
                            if (item.IsCurrent == true)
                            {
                                <li>
                                    <div class="title">@item.StartYear - Current</div>
                                    <div class="details">
                                        <h5>@item.SubjectOfactivity</h5>
                                        <small class="fg-theme">@item.Institute</small>
                                        @if (item.Description != null)
                                        {
                                            <p>@item.Description</p>
                                        }
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="title">@item.StartYear - @item.EndYear</div>
                                    <div class="details">
                                        <h5>@item.SubjectOfactivity</h5>
                                        <small class="fg-theme">@item.Institute</small>
                                        @if (item.Description != null)
                                        {
                                            <p>@item.Description</p>
                                        }
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div> <!-- End resume -->
    </div> <!-- End page about -->