@model AboutMeVM

<!-- Footer -->
<div class="vg-footer">
    @*<h1 class="text-center">Virtual Folio</h1>*@
    <div class="container">
        <div class="row">
            <div class="col-lg-4 py-3">
                <div class="footer-info">
                    <p>Where to find me</p>
                    <hr class="divider">
                    <p class="fs-large fg-white">I currently live in Iran and you can contact me in different ways.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 py-3">
                <div class="float-lg-right">
                    <p>My social networks</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li><a href="@Model.MyInfo.TelegramId">Telegram</a></li>
                        <li><a href="@Model.MyInfo.Linkdin">LinkedIn</a></li>
                        <li><a href="@Model.MyInfo.Github">GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 py-3">
                <div class="float-lg-right">
                    <p>Contact me</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li>@Model.MyInfo.Email</li>
                        <li>@Model.MyInfo.Phone</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12">
                <p class="text-center mb-0 mt-4">Copyright &copy;2022. All right reserved by Mohsen Saberi.</p>
            </div>
        </div>
    </div>
</div> <!-- End footer -->